/* Poppins fonts from google fonts */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header Style */
header {
  padding: 50px 120px;
}

/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 34px;
  font-size: 1rem;
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: #3a3a3a;
}

nav li img {
  width: 100%;
}

.influencer-title {
  width: 243px;
  height: 52.2px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-container > img {
  width: 100%;
}

.img-background{
  position: fixed;
  right: auto;
  width: 450px;
  z-index: -1;
}

/* banner image styles */
