/* Poppins fonts from google fonts */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Header Style */
header {
  max-width: 1720px;
  width: 100%;
  padding: 50px 120px;
}

/* Nav Style */
nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 34px;
  font-size: 1rem;
  font-weight: 600;
}

nav li a {
  text-decoration: none;
  color: #3a3a3a;
}

nav li img {
  width: 100%;
}

.influencer-title {
  width: 243px;
  height: 52.2px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

/* banner image styles */
.banner-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-container > img {
  width: 100%;
}

.img-background {
  position: absolute;
  right: auto;
  width: 440px;
  height: 414px;
  z-index: -1;
}

.banner-title {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner-description {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.banner-btn {
  display: inline-flex;
  padding: 10px 24px;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 41px;
  background: #e02c6d;
  border: none;
}

.btn-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

/* divider styles added */
.divider {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  opacity: 0.3;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

/* sponsors section */
.sponsors {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

/* card styles */

section{
  max-width: 1440px;
  margin: 80px auto;
}

.card-title {
  margin: auto;
  text-align: center;
  padding: 30px 0;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.75rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 320px);
    margin: auto;
    width: auto ;
    gap: 30px;
    justify-content: center;
}

.card{
    width: 300px;
    height: 480px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

/* Responsive for mobile devices */

@media screen and (max-width: 576px) {
  header {
    margin: 0 auto;
    padding: auto;
  }

  nav,
  nav > ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav li img {
    display: none;
  }

  .influencer-title {
    font-size: 1rem;
    padding-left: 45px;
  }

  .nav li {
    font-size: 0.8rem;
  }

  .banner-container {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    padding: 50px;
  }

  .banner-title {
    font-size: 1.75rem;
    margin-top: 20px;
    text-align: center;
  }

  .banner-description {
    color: #3a3a3a;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
  }

  .img-background,
  .img-main {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
  }

  .banner-btn {
    margin-bottom: 10px;
  }

  .divider {
    padding-left: 180px;
  }

  .sponsors {
    padding-left: 150px;
  }
}
